# Go-related files
*.exe
*.out
*.test
*.log
*.prof
*.tmp
*.so
*.o
*.a
vendor/

# Nix and direnv files
flake.lock
.envrc
.direnv
result
*.drv

# IDE and editor files
.vscode/
.idea/
.DS_Store
*.swp
*.swo
*.tmp

# Dependency and build artifacts
bin/
pkg/
.env

# Input files
**/input.txt

